/*
==========================================================================================
4-  4.7- pricing Section
===========================================================================================
*/
.pricing-item{
    border:1px solid #a8a8a8;
    padding: 30px 15px;
    text-align: center;
}
.pricing-item-text{
    color: #a8a8a8;
    text-transform: uppercase;
    font-size: 17px;
}
.pricing-item:hover .pricing-item-text{
    color: var(--main-cokor);
}
.pricing-item.margined{
    margin: 0 5%;
}
.pricing-price{
    width: 130px;
    height: 130px;
    margin: 20px auto; /*وسطنة دائرة الديف */
    padding: 25px 0;   /*وسطنة كلمة السعر/للشهر رأسيا في الدائرة*/
    border: 3px solid var(--main-cokor);
    border-radius: 50%;

    transition: color 0.5s;
}
.pricing-price .dollars{
    font-size: 50px;
    font-weight: bolder;
}
.pricing-price .permonth{
    text-transform: capitalize;
    font-weight: bold;
}
.pricing-item:hover .pricing-price,
.pricing-item:hover .pricing-price {
    color: var(--white-color);
}
.pricing-list{
    list-style: none;
}
.pricing-list li{
    color: #888;
    line-height: 1.8;
    text-transform: capitalize;
}
.pricing-item-parchase{
    background: none; /*none for background-color iilegal*/
    display: block;
    width: 140px;
    border: 2px solid var(--main-cokor);
    margin: 15px auto 0;
    padding: 10px;
    color: var(--main-cokor);

    transition: background-color 0.5s;
}
.pricing-item:hover .pricing-item-parchase{
    background-color: var(--white-color);
}
.pricing-item-parchase:hover{
    background-color: var(--main-cokor) !important ; /*break specifity مهم جدا*/
    color: var(--white-color);
}